rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer usuário autenticado leia ou escreva qualquer arquivo.
    // Em um aplicativo de produção, você pode querer restringir isso ainda mais,
    // por exemplo, permitindo que os usuários escrevam apenas em seus próprios diretórios.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
